@import url('https://fonts.googleapis.com/css?family=Uchen&display=swap');
@import url('https://fonts.googleapis.com/css?family=Mouse+Memoirs&display=swap');

.preview-post a h2, .preview-post a h3 {
    font-family: 'Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif';
    color: #343a40;
}

.preview-post a h2 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 36px;
}

.preview-post a h3 {
    margin-top: 0;
    font-size: 1.75rem;
}

.preview-post a:hover h2, .preview-post a:hover h3 {
    color:teal;
}

.post-meta {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: #6c757d;
}