.copy_name {
    font-weight: bold;

}

footer {
    background-color: #212529;
    padding: 50px 0 65px;
    display: block;
}

.list-inline-item {

    margin-right: .5rem;
    display: inline-block;

}
.list-inline-item a {
    color: #212529
}